@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>長榮大學</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>歡迎來到長榮大學</h2>
        <p>
           這個[長榮大學]的應用程式範例是利用Entity Framework 6 所建置的MVC架構網站
        </p>
        <p><a class="btn btn-default" href="https://www.cjcu.edu.tw/">長榮大學首頁 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>如何建置本網站</h2>
        <p>建置本網站，請依教學步驟逐步建置</p>
        <p><a class="btn btn-default" href="https://goo.gl/Kiw8np">使用MVC5的EF6教學 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>網站專案的程式碼下載</h2>
        <p>Please read ASP.NEP course</p>
        <p><a class="btn btn-default" href="https://elearn.cjcu.edu.tw/mooc/index.php">read this course &raquo;</a></p>
    </div>
</div>